html, body, .todo {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial;        
}

body {
    background: #d38312;
    background: linear-gradient(to left, #D38312 , #A83279);
    background: -webkit-linear-gradient(to left, #D38312 , #A83279);
    padding-bottom: 10px;
}

.todo {
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.todo__input {
    background-color: #fff;
    width: 380px !important;
}

.todo__input, .todo__item {
    margin: 10px;
    padding: 10px;
}

.todo__item:hover {
    background-color: #eee;
}

.todo__item:hover .itemOption {
    visibility: visible;
}

.todo__input {
    padding-top: 15px;
}

.error-input{
	border: 1px solid red !important;
}

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder {
    color: #999;
}

::-moz-placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

.error-input::-webkit-input-placeholder {
    color: red;
    font-size: 16px;
    padding-top: 0px
}
.error-input:-moz-placeholder {
    color: red;
    font-size: 16px;
    padding-top: 0px
}
.error-input::-moz-placeholder {
    color: red;
    font-size: 16px;
    padding-top: 0px
}
.error-input:-ms-input-placeholder {
    color: red;
    font-size: 16px;
    padding-top: 0px
}

.inputEditTodo {
    height: 26px;
    padding-left: 10px;
    font-size: 20px;
    border: 1px solid #333;
    border-radius: 15px;
    outline: none;
}

.inputEditTodo:disabled {
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    color: #333;
}

.todo__item--done .inputEditTodo {
    color: #aaa;
}

#addTodo {
    margin-left: 10px;
    outline: none;
}

#app {
	width: 96%;
	min-width: 420px;
}

#app #top {
	padding-top: 30px;
	padding-bottom: 15px;
	text-align: center;
    background-color: #fff;
    /*border-top-left-radius: 15px;
    border-top-right-radius: 15px;*/
    margin-top: 10px;
}

.todo {
    background-color: #fff;
    /*border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 10px !important;*/
}

#app #filter {
    background-color: #fff;
}

#app #filter, #app #top, #app .todo__input, #app .todo {
	width: 400px;
}

#app .todo__input input {
    height: 30px;
    width: calc(100% - 90px);
    font-size: 20px;
    border: 1px solid #333;
    border-radius: 15px;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#app .todo__input button {
	height: 34px;
    width: 34px;
    font-size: 24px;
    position: absolute;
    border-radius: 17px;
    border: 1px solid #333;
    background-color: #fff;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#app .todo__input button:hover {
    background-color: #eee;
    cursor: pointer;
}

.hidden {
	display: none;
}

.center {
	margin: auto;
}

#filter {
	padding-top: 15px;
	padding-bottom: 15px;
}

#filter label {
	cursor: pointer;
}

#filter input[type=radio] {
	visibility: hidden;
	margin-right: 8px;
	cursor: pointer;
}

#filter input[type=radio] + label::before {
	content: "\00a0";
	display: table-caption;
	margin-left: -10px;
	margin-right: 15px;
	margin-top: 10px;
	border: 3px solid #fff;
	border-radius: 100%;
	visibility: visible;
	box-shadow: 0 0 0px 2px #333;
	width: 8px;
	height: 8px;
	line-height: 20px;
}

#filter input[type=radio] + label:hover::before {
    background-color: #ccc;
}

#filter input[type=radio]:checked + label::before {
	background-color: #333 !important;
}

.todo__item input[type=checkbox] {
	visibility: hidden;
	margin-right: 6px;
	cursor: pointer;
}

.todo__item input[type=checkbox] + label::before {
	width: 15px;
	height: 15px;
	padding-left: 9px;
	padding-top: 6px;
    padding-right: 11px;
    padding-bottom: 3px;
    color: white;
	visibility: visible;
	border: 1px solid #333;
	content: "\221a";
	border-radius: 100%;
	line-height: 30px;
    background-color: #fff;
}

.todo__item input[type=checkbox]:checked + label::before {
	background-color: green;
}

.todo__item label {
	margin-left: -30px;
	cursor: pointer;
}

.pull-right {
    float: right;
}

.content-item {    
    width: calc(100% - 62px);
    display: inline-block;
}

.itemOption {
    background-color: transparent;
    border: 0px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    visibility: hidden;
}

.itemOption:hover {
    color: #555;
}

@-moz-document url-prefix() { 
    .content-item {
        width: calc(100% - 72px);
    } 
}